{% extends "index.html" %}

{% block content %}
    
        <h1>404: Page not found</h1>
    <p>The project or page you're looking for cannot be found!<br>
        Have some 404 project7III ASCII text art instead:
    </p>
    <pre>
        
             ________    __    __    __         
           /\_____   /\ /\  \ /\  \ /\  \    
           \/____/  / / \ \  \\ \  \\ \  \   
                /  / /   \ \  \\ \  \\ \  \  
               /  / /     \ \  \\ \  \\ \  \ 
              /__/ /       \ \__\\ \__\\ \__\
              \__\/         \/__/ \/__/ \/__/
                                         
                 p r o j e c t 7 I I I 
 
                          404
                  404 404 404 404 404
     01110000 01110010 01101111 01101010 01100101 
 01100011 01110100 00110111 01001001 01001001 01001001 

                       █  ▄▀▄ █
                       █▄ ▀▄▀ █▄
    </pre>
{% endblock content %}
