{% extends "base.html" %}

{% block content %}
<h1>
    making things
</h1>
<p>
  At project7III we build things we are excited about: tools and products for elevating life.<br><br>
  Our newest projects include the <a href="tap">Ableton Live controller app 7III Tap</a>,
  <a href="water">7III Water</a> with tools and statistics for foilers and other water sports enthusiasts,
  the global foiling map at <a href="foildata">foildata</a>,
  and <a href="https://moleculestore.com">Molecule Store</a>,
  where science and chemistry become nerdy jewelry, apparel, and accessories, while giving $1 per product sold to education projects.
</p>

<h2>
  log
</h2>
<p><b>2026-01-31</b> project7III and our email service were unavailable for 55 hours starting January 27, 2026, due to a server hardware failure. We are sorry for the inconvenience this caused.<br>To make up for it, both our water sports tracker app <a href="https://project7iii.com/water">7III Water</a> and our Ableton Live controller app <a href="https://project7iii.com/tap">7III Tap</a> are available at <strong>55% off for the next 55 hours</strong>.<br>Our nerdy science shop <a href="https://moleculestore.com">Molecule Store</a> is also offering <strong>15% off everything</strong> with the coupon code <strong>55hours</strong>.<br>We are changing hosting providers and taking steps to make sure this does not happen again.</p>
<p><b>2025-12-18</b> updated project7III website and added foiling spots to <a href = "/foildata/map/spots">foildata</a>.</p>
<p><b>2025-12-01</b> making a splash - released <a href="water">7III Water</a> 1.3. 💦</p>
<p><b>2025-11-25</b> <a href="tap">7III Tap</a> 1.4 has landed: like a Push, but better?</p>
<p><b>2025-09-14</b> new project7III logo and some glitches introduced.</p>
<p><b>2025-07-04</b> new app for lifters: <a href="plates-calc">Plates Calc</a>, a minimalist free weights calculator.</p>
<p><b>2025-06-29</b> hello <a href="tap">7III Tap</a> 1.3: landscape mode for iPad and more.</p>
<p><b>2025-06-28</b> added many nice improvements and exports to <a href="water">7III Water</a> 1.2.</p>
<p><b>2025-05-15</b> updated the <a href="/tap/manual">user manual</a> for 7III Tap. 🤓</p>
<p><b>2025-04-17</b> started a website to help foilers out: <a href="/foildata">7III foildata</a>.</p>
<p><b>2025-04-09</b> added step sequencers and more to version 1.2 of <a href="tap">7III Tap</a>.</p>
<p><b>2025-04-08</b> version 1.1 of <a href="water">7III Water</a> is out. 🌊</p>
<p><b>2024-11-18</b> <a href="life">7III Life</a> is getting worked on.</p>
<p><b>2024-10-24</b> <a href="tap">7III Tap</a>, our Live MIDI controller is coming to iPad!</p>
<p><b>2024-09-10</b> apps QR, Water, and Tap are now all available on the App Store. 🥳</p>
<p><b>2024-09-04</b> added an old app to the catalog, a lil QR code generator: <a href="qr">7III QR</a>.</p>
<p><b>2024-04-12</b> next app ready for testing: <a href="water">7III Water</a>.</p>
<p><b>2024-03-20</b> new website design and first app ready for testing: <a href="tap">7III Tap</a>.</p>
<p><b>2022-02-21</b> project7III is now live! 🎉</p>

{% endblock content %}
