{% extends "base.html" %}

{% block content %}
<h1>
  log
</h1>
<p><b>2025-12-01</b> making a splash - released <a href="water">7III Water</a> 1.3. 💦</p>
<p><b>2025-11-25</b> <a href="tap">7III Tap</a> 1.4 has landed: like a Push, but better?</p>
<p><b>2025-09-14</b> new project7III logo and some glitches introduced.</p>
<p><b>2025-07-04</b> new app for lifters: <a href="plates-calc">Plates Calc</a>, a minimalist free weights calculator.</p>
<p><b>2025-06-29</b> hello <a href="tap">7III Tap</a> 1.3: landscape mode for iPad and more.</p>
<p><b>2025-06-28</b> added many nice improvements and exports to <a href="water">7III Water</a> 1.2.</p>
<p><b>2025-05-15</b> updated the <a href="/tap/manual">user manual</a> for 7III Tap. 🤓</p>
<p><b>2025-04-17</b> started a website to help foilers out: <a href="/foildata">7III foildata</a>.</p>
<p><b>2025-04-09</b> added step sequencers and more to version 1.2 of <a href="tap">7III Tap</a>.</p>
<p><b>2025-04-08</b> version 1.1 of <a href="water">7III Water</a> is out. 🌊</p>
<p><b>2024-11-18</b> <a href="life">7III Life</a> is getting worked on.</p>
<p><b>2024-10-24</b> <a href="tap">7III Tap</a>, our Live MIDI controller is coming to iPad!</p>
<p><b>2024-09-10</b> apps QR, Water, and Tap are now all available on the App Store. 🥳</p>
<p><b>2024-09-04</b> added an old app to the catalog, a lil QR code generator: <a href="qr">7III QR</a>.</p>
<p><b>2024-04-12</b> next app ready for testing: <a href="water">7III Water</a>.</p>
<p><b>2024-03-20</b> new website design and first app ready for testing: <a href="tap">7III Tap</a>.</p>
<p><b>2022-02-21</b> project7III is now live! 🎉</p>

{% endblock content %}
